<div class="m-auto px-2 text-light container">
  <div class="row">
    <h1 class="text-center">Hello! I'm Elijah Romer. Thank you for visiting my portfolio.</h1>
  </div>
  <div class="row">
    <button class="btn btn-primary col-3 mx-auto" id="work">View my work!</button>
  </div>
</div>