<div class="my-4 mx-auto p-4 text-light container bg-secondary rounded-3" style="--bs-bg-opacity: .7;">
  <div class="row my-4">
    <h1 class="text-center">Hello! I'm Elijah Romer. Thank you for visiting my portfolio.</h1>
  </div>


  <div class="row">
    <div class="col-sm-12 col-md-4">
      <img src="images/Profile Picture Image.jpg" alt="" class="mx-auto rounded-circle img-thumbnail">
    </div>
    <div class="my-1 col-sm-12 col-md-8">
      <p class="text-center"> As I hope you will find in the examples
        of my work, I am highly motivated to meet customer specifications and deadlines; I can quicky learn new
        skills to meet those specifications when called for. My modis-operandi is attention and dedication to detail and
        in turn, professionalism. When the path forward is unclear, it's time to start learning.
        <br>
        <br>
        My biggest strengths are as follows:

      <ul>
        <li>Coachability.</li>
        <li>Teamwork skills from previous collaborative work experience.</li>
        <li>Positivity in the face of adversity.</li>
        <li>Planning, strategizing, and executing to meet deadlines.</li>
        <li>Attention to clean, editable code.</li>
        <li>Keeping up with new technology.</li>
        <li>Willing to go the extra mile to deliver the best possible product.</li>
        </p>

      </ul>
    </div>

  </div>
  <div class="row">
    <button class="btn btn-primary col-3 mx-auto" id="work">View my work!</button>
  </div>
</div>