<div class="my-4 mx-auto p-4 text-light container bg-secondary rounded-3" style="--bs-bg-opacity: .7;">
  <div class="row my-4">
    <h1 class="text-center">RESUME</h1>
    <h4 class="download d-flex justify-content-center"><a class="download "
        href="https://drive.google.com/file/d/15SQCXrU0WcdX9vVH2vxYofiE2ndpPrLn/view?usp=sharing">Download Here</a></h4>
    <iframe src="https://drive.google.com/file/d/15SQCXrU0WcdX9vVH2vxYofiE2ndpPrLn/preview" width="640" height="100vh"
      allow="autoplay" title="Elijah's Resume" class="">
    </iframe>
  </div>
  <hr>
  <div class="row my-2">
    <a href="#top" class="btn btn-primary col-sm-10 col-md-4 mx-auto">Scroll To Top</a>
  </div>
</div>