<div class="my-4 mx-auto p-4 text-light container bg-secondary rounded-3" style="--bs-bg-opacity: .7;">
  <h1 class="text-center">WORK</h1>
  <h6 class="text-center">Click each picture to be taken to the deployed website or GitHub repository.</h6>
  <hr>
  <div class="row col-11 my-4 mx-auto">
    <h4>Wandir</h4>
    <p> An app for meeting other people who are passionate about travel. This project was my first real step into
      creating an application with MVC architecture. It was a sprint to complete as much functionality as possible in
      the span of two weeks, with 3 other team members. I was tasked with building most of the back end, and managing
      the git workflow from individual feature branches on up to the main branch and deployment via Heroku.</p>
    <a class="wandir rounded-3" href="https://fullstacknomads.herokuapp.com/"></a>
  </div>
  <hr>
  <div class="row my-4 justify-content-around">
    <div class="card col-5">
      <h1>Hello</h1>
    </div>
    <div class="card col-5">
      <h1>Hello</h1>
    </div>
  </div>
</div>