<div class="my-4 mx-auto p-4 text-light container bg-secondary rounded-3" style="--bs-bg-opacity: .7;">
  <h1 class="text-center">WORK</h1>
  <h5 class="text-center">Click each picture to be taken to the deployed website or GitHub repository.</h5>
  <div class="row my-4 justify-content-around">
    <div class="col-11 ">
      <figure class="justify-content-center">
        <figcaption>The wandir collaborative project</figcaption>
        <img class="mx-auto rounded-3 work" src="images/wandir.jpg" alt="Wandir Website">
      </figure>
    </div>
  </div>
  <div class="row my-4 justify-content-around">
    <div class="card col-5">
      <h1>Hello</h1>
    </div>
    <div class="card col-5">
      <h1>Hello</h1>
    </div>
  </div>
</div>