<div class="my-4 mx-auto p-4 text-light container bg-secondary rounded-3" style="--bs-bg-opacity: .7;">
  <h1 class="text-center">WORK</h1>
  <h6 class="text-center">Click each picture to be taken to the deployed website, or GitHub repository if the
    application is not a website.</h6>
  <hr>
  <div class="row col-11 my-4 mx-auto">
    <h3>wandir</h3>
    <a class="repo-link my-1" href="https://github.com/FullstackNomads/wandir">View GitHub
      Repository</a>
    <p> An app for organizing and meeting with other people who are passionate about travel! This project was my first
      real step into
      creating an application utilizing MVC architecture. It was a sprint to complete as much functionality as possible
      in
      the span of two weeks, with 3 other team members. A very enjoyable learning experience, it utilizes Express,
      Express-handlebars view engine, Express-session for login persistence via cookies, Sequelize ORM for modeling/
      mapping to a custom SQL relational database, Multer and AWS-SDK modules for
      image
      uploads, and more.</p>
    <p> I was tasked with building
      most of the back end & database, and managing
      the git workflow from individual feature branches on up to the main branch and deployment via Heroku. As of this
      writing, the app is 90% complete.</p>
    <p>The development of this project truly solidified my understanding of Express servers, middleware, and routing. I
      have come to see view-engines as virtually indispensible to modern websites. I also see the immense benefit
      provided
      by Object Relational Mapping (ORM) such as Sequelize, and gained a firm grasp on that technology as well.</p>
    <a class="wandir rounded-3" href="https://fullstacknomads.herokuapp.com/"></a>
  </div>

  <hr>

  <div class="row col-11 my-4 mx-auto justify-content-around">

    <div class="col-md-10 col-lg-5 my-4 mx-auto">
      <h4 class="">README Generator</h4>
      <p>A simple CLI interface application that streamlines the process of creating a README file for your projects,
        saving time and energy for coding.
        Developing this project was my first serious exercise in utilizing, troubleshooting, and executing JavaScript
        files
        within the Node.js runtime. I learned how to create my own npm modules, and create custom commands to initialize
        them anywhere. The Inquirer module opened my eyes to the possibilities of CLI interface applications. </p>
      <a class="readme-generator rounded-3 d-block" href="https://github.com/ElijahRomer/ReadMeGenerator#readme"></a>
    </div>

    <div class="col-md-10 col-lg-5 my-4 mx-auto">
      <h4 class="">Employee Database</h4>
      <p>This application was written as a CLI for non-tech users to interact with a database. It provides full CRUD
        functionality in an intuitive way that does not require a single BASH command to be known.
        This was an excellent exercise in writing Structured Query Language (SQL) and interfacing a MySql database with
        NodeJS via the standard MySql2 module.
        It was also good practice with understanding asynchronous code in Node.js, utilizing both promise and
        Async/Await syntax. Finally, I gained experience in writing my own libraries of functions and modularizing them
        for better
        abstraction, separation of concerns, and achievement of goals.</p>
      <a class="employee-database rounded-3 d-block" href="https://github.com/ElijahRomer/EmployeeDatabase#readme"></a>
    </div>
  </div>


  <div class="row col-11 my-4 mx-auto justify-content-around">
    <div class="col-md-10 col-lg-5 my-4 mx-auto">
      <h4 class="">Star Spangled Memer</h4>
      <a class="repo-link my-1" href="https://github.com/p1t1-Web-Dev-Wizards/Project1---horoscope-memes">View GitHub
        Repository</a>
      <p>The goal of this project was to start your day off right by delivering a daily horoscope and
        random meme. We worked to display a daily horoscope and mood and then a joke or meme related to your daily mood.
        This was my first collaborative project utilizing git version control. It was also my first experience utilizing
        the Materialize styling framework.
      </p>
      <a class="star-spangled-memer rounded-3 d-block"
        href="https://p1t1-web-dev-wizards.github.io/Project1---horoscope-memes/"></a>
    </div>

    <div class="col-md-10 col-lg-5 my-4 mx-auto">
      <h4 class="">Timed Quiz</h4>
      <a class="repo-link my-1" href="https://github.com/ElijahRomer/TimedQuiz">View GitHub
        Repository</a>
      <p>In this project, I created a Quiz template with timer, multiple choices, looped progression and event
        listeners, and high score list stored via localStorage. The entire application exists on the client
        with no external http requests or server. This was a great introduction and exercise to the possibilities of
        client-side applications, DOM manipulation, JS Logic, and more advanced CSS techniques.</p>
      <a class="timed-quiz rounded-3 d-block" href="https://elijahromer.github.io/TimedQuiz/"></a>
    </div>
  </div>


  <div class="row col-11 my-4 mx-auto justify-content-around">
    <div class="col-md-10 col-lg-5 my-4 mx-auto">
      <h4 class="">Weather Dashboard</h4>
      <a class="repo-link my-1" href="https://github.com/ElijahRomer/WeatherDashboard">View GitHub
        Repository</a>
      <p>In this project, I created the classic (cliche?) weather dashboard project to exercise my skills working with
        promises and API calls, as well as learning the Materialize CSS framework and implementing a responsive UI. I
        also worked out some logic that plugs in wind direction from the API call into a CSS transition, so the wind
        pointer provides an accurate visualization. Finally, I gained experience utilizing the browser localStorage to
        allow for persistent data accross sessions.
      </p>
      <a class="weather-dashboard rounded-3 d-block" href="https://elijahromer.github.io/WeatherDashboard/"></a>
    </div>

    {{!-- <div class="col-md-10 col-lg-5 my-4 mx-auto">
      <h4 class="">Timed Quiz</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit facere unde at sunt dolore, aperiam rerum
        similique cum accusamus soluta?</p>
      <a class="timed-quiz rounded-3 d-block" href="https://elijahromer.github.io/TimedQuiz/"></a>
    </div> --}}
  </div>
  <hr>
  <div class="row my-2">
    <a href="#top" class="btn btn-primary col-sm-10 col-md-4 mx-auto">Scroll To Top</a>
  </div>
</div>