.collapse {
  flex-grow: 0;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../images/backgroundColorSplash.jpg");
  background-size: cover;
}

p {
  font-size: larger;
}
ul {
  font-size: larger;
}

footer{
  margin-top: auto;
}

.img-thumbnail {
  width: 90%; 
  height: 90%;
  object-fit:contain;
}

.contact-methods {
  list-style: none;
}
.contact-methods >li > a {
  text-decoration: none;
  color: bisque;
}
.contact-methods >li > a:hover {
  color: blue;
}

#work {
  font-size: x-large;

  border:blue solid 1px; 
}

/* WORK PAGE EXCLUSIVE STUFF */

.wandir {
  background-image: url("../images/wandir.jpg");
  background-size: cover;
  height:500px;
  transition: 0.3s box-shadow;
}
.wandir:hover {
  box-shadow: 2px 2px 4px black, 0 0 25px blue, 0 0 5px rgb(50, 50, 131);
  transition: 0.3s box-shadow;
}

.timed-quiz {
  background-image: url("../images/timedQuiz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:300px !important;
  transition: 0.3s box-shadow;
}

.timed-quiz:hover {
  box-shadow: 2px 2px 4px black, 0 0 25px blue, 0 0 5px rgb(50, 50, 131);
  transition: 0.3s box-shadow;
}

.weather-dashboard {
  background-image: url("../images/weatherDashboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:300px !important;
  transition: 0.3s box-shadow;
}

.weather-dashboard:hover {
  box-shadow: 2px 2px 4px black, 0 0 25px blue, 0 0 5px rgb(50, 50, 131);
  transition: 0.3s box-shadow;
}

.employee-database {
  background-image: url("../images/employeeDatabase.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:300px !important;
  transition: 0.3s box-shadow;
}

.employee-database:hover {
  box-shadow: 2px 2px 4px black, 0 0 25px blue, 0 0 5px rgb(50, 50, 131);
  transition: 0.3s box-shadow;
}

.star-spangled-memer {
  background-image: url("../images/starSpangledMemer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:300px !important;
  transition: 0.3s box-shadow;
}

.star-spangled-memer:hover {
  box-shadow: 2px 2px 4px black, 0 0 25px blue, 0 0 5px rgb(50, 50, 131);
  transition: 0.3s box-shadow;
}

.readme-generator {
  background-image: url("../images/readmeGenerator.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:300px !important;
  transition: 0.3s box-shadow;
}

.readme-generator:hover {
  box-shadow: 2px 2px 4px black, 0 0 25px blue, 0 0 5px rgb(50, 50, 131);
  transition: 0.3s box-shadow;
}

.repo-link {
  text-decoration: none;
  color:Yellow;
  transition: color 0.3s;
  font-size: larger;
}

.repo-link:hover {
  text-decoration: none;
  color:rgb(209, 178, 0);
  transition: color 0.3s;
  font-size: larger;
}

/* RESUME EMBED STUFF */

iframe {
  width: 90%; 
  height:800px;
  object-fit:contain;
}

.download {
  text-decoration: none;
  color: gold;
  transition: color 0.3s;
}
.download:hover {
  text-decoration: none;
  color: rgb(184, 156, 0);
  transition: color 0.3s;
}

