.collapse {
  flex-grow: 0;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../images/backgroundColorSplash.jpg");
  background-size: cover;
}

footer{
  margin-top: auto;
}

/* ul {
  list-style: none;
} */

.img-thumbnail {
  width: 90%; /* You can set the dimensions to whatever you want */
  height: 90%;
  object-fit:cover;
}

.c-img {
  width: auto;

  /* max-height: 300px; */
  object-fit:cover;
}