.collapse {
  flex-grow: 0;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../images/backgroundColorSplash.jpg");
  background-size: cover;
}

p {
  font-size: larger;
}
ul {
  font-size: larger;
}

footer{
  margin-top: auto;
}

.img-thumbnail {
  width: 90%; 
  height: 90%;
  object-fit:contain;
}

/* WORK PAGE EXCLUSIVE STUFF */

.wandir {
  background-image: url("../images/wandir.jpg");
  background-size: cover;
  height:50vh;
  transition: 0.3s box-shadow;
}
.wandir:hover {
  box-shadow: 2px 2px 4px black, 0 0 25px blue, 0 0 5px rgb(50, 50, 131);
  transition: 0.3s box-shadow;
}

.timed-quiz {
  background-image: url("../images/timedQuiz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:150px !important;
  /* width: 100%; */
  transition: 0.3s box-shadow;
}

.timed-quiz:hover {
  box-shadow: 2px 2px 4px black, 0 0 25px blue, 0 0 5px rgb(50, 50, 131);
  transition: 0.3s box-shadow;
}




